<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MGHunksExtended -->
      <package
            uri="MGHunksExtended/1.0"
            class="MGHunksExtended.MGHunksExtendedPackage"
            genModel="model/MGHunksExtended.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MGHunksExtended -->
      <package
            uri="MG"
            class="MG.MGPackage"
            genModel="model/MGHunksExtended.genmodel"/>
   </extension>

</plugin>
